<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tongxin.youni">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission android:name="com.tongxin.youni.permission.MIPUSH_RECEIVE" android:protectionLevel="signature" />
    <uses-permission android:name="com.tongxin.youni.permission.MIPUSH_RECEIVE" />

    <application
        android:name="com.tongxin.youni.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--xiaomi-->
        <service
            android:enabled="true"
            android:process=":pushservice"
            android:name="com.xiaomi.push.service.XMPushService"/>
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />
        <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->
        <service
            android:enabled="true"
            android:exported="true"
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler" />
        <service android:enabled="true"
            android:name="com.xiaomi.mipush.sdk.MessageHandleService" />
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver
            android:exported="true"
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:exported="false"
            android:process=":pushservice"
            android:name="com.xiaomi.push.service.receivers.PingReceiver" >
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <!--/xiaomi-->

        <activity
            android:screenOrientation="portrait"
            android:name="com.tongxin.youni.activity.MainActivity">

        </activity>
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="lecoancom#imer" />

        <activity android:name="com.tongxin.youni.activity.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tongxin.youni.activity.GuideAty">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.tongxin.youni.activity.LoginActivity">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.tongxin.youni.activity.RegisterActivity" />

        <activity
            android:screenOrientation="portrait"
            android:name="com.tongxin.youni.activity.UserInfoActivity" />
        <activity
            android:theme="@style/dialogstyle"
            android:screenOrientation="portrait"
            android:name="com.tongxin.youni.activity.ItemDetailActivity" />

        <activity android:name="com.tongxin.youni.activity.ChangeInformation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.tongxin.youni.activity.Screen"
            android:screenOrientation="portrait"
            android:theme="@style/dialogstyle"/>
        <activity android:name="com.tongxin.youni.activity.PostFeed"
            android:screenOrientation="portrait"
            android:theme="@style/dialogstyle"/>
        <activity android:name=".activity.ConfirmActivity"
            android:theme="@style/dialogstyle"/>
        <activity android:name=".activity.SettingActivity"/>

    </application>

</manifest>