<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tongxin.youni">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name="com.tongxin.youni.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:screenOrientation="portrait"
            android:name="com.tongxin.youni.activity.MainActivity">

        </activity>
        <!--<service android:name="com.avos.avoscloud.PushService"/>-->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="lecoancom#imer" />

        <receiver android:name="com.tongxin.youni.receiver.NetStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name="com.tongxin.youni.activity.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tongxin.youni.activity.GuideAty">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.tongxin.youni.activity.LoginActivity">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.tongxin.youni.activity.RegisterActivity" />

        <!-- easeui的Activity -->
        <!--<activity android:name="com.hyphenate.easeui.ui.ChatActivity" />-->
        <!--<activity android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity" />-->
        <!--<activity android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity" />-->
        <!--<activity android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity" />-->
        <!--<activity android:name="com.hyphenate.easeui.ui.CallActivity" />-->
        <!--<activity android:name="com.hyphenate.easeui.ui.VideoCallActivity" />-->
        <!--<activity android:name="com.hyphenate.easeui.ui.VoiceCallActivity" />-->
        <!--<activity android:name="com.hyphenate.easeui.ui.ImageGridActivity" />-->
        <!--<activity android:name="com.hyphenate.easeui.ui.RecorderVideoActivity" />-->
        <!--<activity android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity" />-->
        <activity
            android:screenOrientation="portrait"
            android:name="com.tongxin.youni.activity.UserInfoActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.tongxin.youni.activity.ItemDetailActivity" />

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>



        <receiver android:name="com.tongxin.youni.receiver.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.avos.UPDATE_STATUS" />
                <action android:name="com.lecoan.push.action" />
            </intent-filter>
        </receiver>

        <activity android:name="com.tongxin.youni.activity.ChangeInformation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.tongxin.youni.activity.Screen"
            android:screenOrientation="portrait"
            android:theme="@style/dialogstyle"/>
        <activity android:name="com.tongxin.youni.activity.PostFeed"
            android:screenOrientation="portrait"
            android:theme="@style/dialogstyle"/>
        <activity android:name=".activity.ConfirmActivity"
            android:theme="@style/dialogstyle"/>
        <activity android:name=".activity.SettingActivity"/>

    </application>

</manifest>